
.container {
  width: 80%;
  margin: 60px auto;
  padding: 10px;
}
.cv-image {
  width: 25px;
}
.gambar {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.gambar:hover{
  transition: 300ms;
  box-shadow: 0 0 10px  blue;
 
}

.card {
  
  box-shadow: 0 0 10px black;
  border-radius: 5px ;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.gambar-rossi{
  width: 100%;
  border-radius: 5px;
}